<!DOCTYPE html>
<html>
<head>  

<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
<title>Reports</title>

<link href="../resources/styleoz.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="menubar">
	<a class="buttonMenuOz" href="#">Bookmarks</a>
	<a class="buttonMenuOz" href="#">Notes</a>
	<a class="buttonMenuOz" href="#">toDo</a>
	<a class="buttonMenuOz" href="#">Reminders</a>

	<a href="#" style="text-decoration:none; font-size:14px; padding:6px; margin:2px; margin-left:50px;">Log out</a>
</div>
<br>
<span id="bookmarks"></span>

<div class="leftContentOz">
<div class="subMenuOz">
	<a href="bookmarks_add.html" class="buttonWhiteOz">Add Bookmark</a>
	<a href="#" class="buttonWhiteOz">Export Bookmarks</a>
	<a href="bookmarks_deleted.html" class="buttonWhiteOz">Deleted Bookmarks</a>
</div>

<div class="groupsOz">
	<a href="javascript:" onclick="" class="buttonBlueOz">General Group</a>
	<a href="javascript:{}" onclick="" class="buttonBlueOz">Stuff</a>
	<a href="javascript:" onclick="" class="buttonBlueOz">Tools</a>
	<a href="javascript:" onclick="" class="buttonBlueOz">News</a>
	<a href="javascript:" onclick="" class="buttonBlueOz">Primarys very long name of a group to see what will happen to this button</a>
</div>
</div><!--.leftContentOz-->

<div class="contentOz">

	<div class="panelOz">
	{{range .}}
		{{.Id}},<br>
		{{.ClientId}},<br>
		{{.Time}},<br>
		{{.Sequence}},<br>
		{{.Message}},<br>
		{{.FilePath}},<br>
		<br><br>
	{{end}}
	
	<br>
	-sequence 0, 26.10.2016-14:20 Utils, getMessage, message=Hello there.<br>
	-sequence 1, 26.10.2016-14:21 Utils, getMessage, message=Hi.<br>
	-sequence 2, 26.10.2016-14:22 Utils, getMessage, message=Ready.<br>
	-sequence 3, 26.10.2016-14:22 Utils, getMessage, message=Please enter date.<br>
	</div>

</div>

<div class="footer">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>

</body>
</html>