<!DOCTYPE html>
<html>
<head>

<meta content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="styles/login.css">

<title>Login</title>

</head>
<body>

<div style="width=100%; height:200px; padding-top:50px; font-size:20px; text-derocation:bold; color:#000000; text-align:center;">
	<p>{{.Message}}</p>
	<form action="/login/" method="POST">
		<div id="name">
			<label for="username">User:</label>
			<input type="text" name="username">
		</div>
		<div id="phone">
			<label for="password">Password:</label>
			<input type="password" name="password">
		</div>
		
		<div class="button">
			<button type="submit">Login</button>
		</div>
	</form>
</div>

<p style="text-align:center;"><a href="/register/">Register</a></p>

</body>
</html>